PWR: {{ plugin_powermanager_powergpiopin|escape }}
LIT: {{ plugin_powermanager_lightgpiopin|escape }}
LPT: {{ plugin_powermanager_printergpiopin|escape }}
INV: {{ plugin_powermanager_invertgpiopins|escape }}
