<form class="form-horizontal">
    <div class="control-group">
	<b>Power GPIO Pin</b><br>
	This GPIO pin/relay controls whether or not the PC PSU is "active" or not.  The Pi is always powered by the +5Vsb pin which is always on regardless of whether or not the power supply is providing +12V.<br>
        <label class="control-label">{{ _('Power GPIO Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.powermanager.powergpiopin">
        </div><br>
        <b>Light  GPIO Pin</b><br>
	This GPIO pin/relay controls the lights.<br>
	<label class="control-label">{{_('Light GPIO Pin') }}</label>
	<div class="controls">
	    <input type="text" class="input-block-level" data-bind="value: settings.plugins.powermanager.lightgpiopin">
	</div><br>
	<b>Printer GPIO Pin</b><br>
	This GPIO pin/relay controls whether or ot the printer should receive +12V power.  This requires that the Power GPIO Pin be "On" in order for the power supply to generate the required +12V.  This is used to power down the printer in the event of a failure, but continue to supply power to the printhead fan.<br>
	<label class="control-label">{{_('Printer GPIO Pin') }}</label>
	<div class="controls">
	    <input type="text" class="input-block-level" data-bind="value: settings.plugins.powermanager.printergpiopin">
	</div><br>
	<b>Invert GPIO Pins</b><br>
	Some relay boards require the GPIO pin be brought LOW to engage the relay while others require the GPIO pin be brought HIGH. If your relay board requires the pins to be brought low (sometimes called active-low) then check the below box.  If your relay board requires the pins brought high, then leave this box unchecked.<br>
	<label class="control-label">{{_('Invert GPIO Pins') }} </label>
	<div class="controls">
	    <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.powermanager.invertgpiopins">
	</div>
    </div>
</form>
