<!-- Source for initial code and concept: https://github.com/docdawning/Illuminatrix/blob/master/Illuminatrix-octoprint-plugin/octoprint_illuminatrix/templates/illuminatrix_tab.jinja2 -->
<!-- This puts the three buttons across the top of the page next to Settings/System for easy access. -->
<div style="padding:5px;">
	<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"> </script>-->
	<script>	
		function callApi(request) {
			console.log("Powermanager received command:"+request);
			var apiPrefix = "/plugin/powermanager/";
			$.get(apiPrefix + request);
		}
	</script>

	<!-- Thankfully liberated from http://www.graemeboy.com/css-buttons -->
	<style type="text/css"> 
	input {
		-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
		-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
		box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
		background-color:#A4A4A4;
		border:1px solid #29447E;
		font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
		font-size:12px;
		font-weight:700;
		padding:6px 6px;
		color:#fff;
		border-radius:5px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	}
	input:hover {
		background-color:	#D8D8D8;
	}
	</style>


		<input type="submit" style="background-color:red;color:white" value="EMERGENCY STOP" onclick="callApi('emergencystop');">
		<input type="submit" value="Lights On" onclick="callApi('lightson');">
		<input type="submit" value="Lights Off" onclick="callApi('lightsoff');">
</div>

